# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.eve-app.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\eve-app\.idea\.idea.eve-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
